<nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
  <div class="container">
    <a class="navbar-brand text-light fw-bold animate-slide-in" href="#">
      <i class="bi bi-box-seam text-purple me-2"></i>FocusMate
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link text-light animate-fade-in" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="/tasks">Tasks</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light animate-fade-in" routerLink="/shop">Shop</a>
        </li>
        <li class="nav-item ms-3">
          <button class="btn btn-purple text-white">Login</button>
        </li>
      </ul>
    </div>
  </div>
</nav>

