 <app-navbar></app-navbar>
 <div class="quest-form-container">
  <div class="quest-form-card">
    <h2 class="quest-form-title text-center mb-4">New Quest Log Entry</h2>

    <form (ngSubmit)="createTask()" #taskForm="ngForm">
       <div class="mb-3">
        <label for="userEmail" class="form-label">Agent Mail</label>
        <input
          type="text"
          id="userEmail"
          class="form-control"
          [(ngModel)]="task.userEmail" 
          name="userEmail" 
          required 
          placeholder="abc@gmail.com"
        />
      </div>

      <div class="mb-3">
        <label for="taskName" class="form-label">Task Name (Mission Brief)</label>
        <input
          type="text"
          id="taskName"
          class="form-control"
          [(ngModel)]="task.taskName" 
          name="taskName" 
          required 
          placeholder="e.g., Defeat the final boss"
        />
      </div>

      <div class="mb-3">
        <label for="dueDate" class="form-label">Due Date (Time Window)</label>
        <input type="date" id="dueDate" class="form-control" [(ngModel)]="task.dueDate" name="dueDate" [min]="minDate" required />
      </div>

      <div class="mb-3">
        <label for="priority" class="form-label">Priority (Threat Level)</label>
        <select id="priority" class="form-select" [(ngModel)]="task.priority" name="priority" required >
          <option>-- Select Threat Level --</option>
          <option>Low</option>
          <option>Medium</option>
          <option>High</option>
        </select>
      </div>

      <div class="mb-4">
        <label for="category" class="form-label">Category (Faction/Zone)</label>
        <input
          type="text"
          id="category"
          [(ngModel)]="task.category" 
          name="category"
          class="form-control"
          placeholder="e.g., Side Quest, Main Story"
        />
      </div>

      <div class="text-center">
        <button type="submit" class="btn quest-btn" [disabled]="taskForm.invalid">Log New Quest</button>
      </div>
    </form>
  </div>
</div>
