name: Orchestrate All Deployments

on:
  push:
    branches: [ main ]

jobs:
  user:
    uses: ./.github/workflows/user-service.yml

  task:
    uses: ./.github/workflows/task-service.yml

  shop:
    uses: ./.github/workflows/shop-service.yml

  frontend:
    uses: ./.github/workflows/frontend-app.yml
