name: Deploy User Service

on:
  workflow_call:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install
        working-directory: user-service
        run: npm install

      - name: Build
        working-directory: user-service
        run: npm run build

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v2
        with:
          app-name: "focusmate-user-service"
          publish-profile: ${{ secrets.USER_PUBLISH_PROFILE }}
          package: ./user-service
